<header>
  <h1>Top 100 movies of all time</h1>
</header>

<main>
  <div class="inputContainer">
    <input
      placeholder="See if your interested movie is in the top 100"
      type="text"
    />
  </div>
  <div class="main_movies_container" *ngIf="allMovies.length > 0">
    <app-home-movies
      class="home_movie"
      *ngFor="let movie of allMovies"
      [movieData]="movie"
    ></app-home-movies>
  </div>
</main>
<footer>
  <div class="footer_text_container">
    <small class="copy">&#169; {{ Date }} all rights reserved</small>
  </div>
  <div class="footer_text_container">
    <small class="policy">Privacy Policy</small>
  </div>
</footer>
