header{
    height: 400px;
    background-color: gray;
}

main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    display: flex;
    justify-content: space-between;
     background-color: aqua;
     height: 80px;
     margin-top: auto;
     
}

.footer_text_container{
    display: flex;
    background-color: pink;
    margin: 10px;
    align-items: center;
    margin: 0 40px 0 40px;
}