h2{
    font-size: 3rem;
    margin-bottom: 50px;
    text-align: center;
    color: #F5C518;
   
}

img{
    border: 5px solid #F5C518;
   
}

.main_container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 1.4rem;
    color: white;
}

.go_back{
    background-color: #F5C518;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: black;
    
}

.go_back:hover{
    opacity: 0.7;
}


.about_movie{
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

img, .movie_info{
    margin: 40px;
}




.brief_info{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
  
}

.brief_info h3{
 margin: 20px;
 
}

.plot{
    margin: 20px;
    
}

.title{
    font-weight: 100;
}


.director{
    margin: 20px;
}

.director_title, .writer_title, .plot_title{
    background-color: #F5C518;
    padding: 5px;
    color: black;
  
}


.director h3{
    margin-top: 20px;
    margin-bottom: 10px;
}


.writer{
    margin: 20px;
}

.writer h3{
    margin-top: 10px;
}


.rank, .rate, .year, .genre{
    
    border-radius: 10px;
    padding: 10px;
    
}

.rank{
    background-color: #00aaa0;
}

.rate{
    background-color: #5f5dbd;
   
}

.year{
    background-color: #c50d66;
}

.genre{
    background-color: #1e549f;
}




@media screen and (max-width:1300px){
     .about_movie{
        flex-direction: column;
     }

     .movie_info{
        margin-top: 10px;
     }

     .main_container{
        font-size: 1.3rem;
        padding: 10px;
     }

     h2{
        font-size: 2rem;
       
    }

    .rank, .rate, .year, .genre{
    
        width: 30%;
        text-align: center;
      
    }

    .about_movie{
        align-items: center;
    }
}

@media screen and (max-width:500px){
   
    img, .movie_info{
        margin: 10px 0 0 0;
    }
    
    img{
        width: 270px;
    }

    .plot, .director, .writer{
        justify-content: center;
    }

    .main_container{
        font-size: 1rem;
     }
}